 body{
        font-family: 'Rubik', sans-serif;
        color: #142b72;
        background: #9be1ff;
      }
      .content{
      	/*margin-top: 8rem !important;*/
      }
      label{
      	color: white;
      	font-size: 14px;
      	font-weight: 400;
      	text-transform: uppercase;
      }
      .form-control{
      	height: 42px;
      	border-radius: 15px;
      	font-size: 12px;
      	font-weight: 900;
      }
.btn{
	height: 42px;
      	border-radius: 15px;
}